* {
    margin: 0px;
}

.container {
    display: grid;

    grid-template-areas: "header header" "menu menu"  " content content" "footer footer";
    grid-template-rows: 50px 400px 250px 100px;
    grid-gap: 5px;
    height: 100vh;
}

.item {
    background-color: rgb(224, 228, 235);
    padding: 50px;
   border: 1px solid lightgray;
}

.header {
    
    grid-area: header;font-size: 20px;
    color: rgb(5, 5, 5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    text-align: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    height: 10px;
   
    
}


.menu{
    grid-area: menu;
   font-size: 40px;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}



.content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 40px;
    font-size: 40px;
    color: aliceblue;
    justify-content: center;
    align-items: center;


}

.footer {
    grid-area: footer;
    color: aliceblue;
    font-weight: bolder;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.icono{
    /*border: 2px solid lightgray;*/
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 300px;
    height: 230px;
    
}
.ico{
    display: none;
    width: 290px;
    height: 220px;
}

.item-button {
    font-size: 20px;
    font-family: sans-serif;
    box-shadow: 8px 8px 5px rgba(0, 0, 0, 0, 5);
    height: 35px;
}
.caja_de_botones{
     /*border: 2px solid lightgray;*/
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 380px;
    height: 50px;
    gap: 10px;

   
}
.cuadro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
   
    
    
   


}